div.home {
    position: relative;
    width:100%;
    min-width: 424px;
    overflow-y: scroll;
    height: 100%;
    background-color: #121212;
    border-radius: 8px;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.home h2 {
    font-family: CircularSpotifyMedium;
    font-size: 24px;
    text-align: left;
    padding-left: 20px;
    color: #FFFFFF;
}
div.home h2 a {
    color: #FFFFFF;
    text-decoration: none;
}
div.home h2 a:hover {
    text-decoration: underline;
}

.artistGrid {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
}

div.home .artistGrid ul {
        /* flex: 0 0 auto; */
    margin: 8px;
    padding: 16px;
    max-width: 300px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    border-radius: 4px;
    cursor: pointer;
}

div.home .albumGrid ul {
    /* flex: 0 0 auto; */
    margin: 8px;
    padding: 16px;
    max-width: 260px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    border-radius: 4px;
    cursor: pointer;
    gap: 16px;
    padding-bottom: 28px;
}


div.home li.artistName {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
div.home li.albumName {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
div.home .artistGrid li + li {
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
}
div.home ul:hover {
    background-color: #282828;
}


div.home .artistGrid ul img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 1);
}
div.home .albumGrid ul img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 1);
}