.libraryNavigation {
    height: 104px;
    min-width: 280px;
    background-color: #121212;
    /* border: solid 2px #ff0000; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow-y: scroll;
    margin: 0;
    box-sizing: border-box;
    flex: 1 1 auto;
}