form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: auto;
}
ul {
    list-style-type: none;
    font-family: CircularSpotifyBook;
    /* letter-spacing: .5px; */
}
.svg {
    height: 27px;
}
h1, h2, h4, input, label, button, select, option {
    font-family: CircularSpotifyMedium;
}
label {
    font-family: CircularSpotifyBold;
    padding: 8px 0;
}
input[type="radio"] {
    margin: 0 6px 0 3px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}
span.radio {
    margin: 0 20px 0 0px;
}
h1, h2, h4 {
    text-align: center;
}
h1 {
    font-size: 32px;
    letter-spacing: -2px;
}
h4 {
    font-size: 11px;
    font-family: CircularSpotifyBook;
}
h2 {
    font-size: 16px;
    font-family: CircularSpotifyBook;
}
label, li {
    font-size: 14px;
}
form > label {
    padding: 24px 0 0 8px ;
}
a {
    color: #74E167;
}
li {
    color: #ff0000;
}
button {
    background-color: #6FD862;
    font-size: 18px;
    border-width: 0;
    border-radius: 500px;
    height: 56px;
    width: 158.91px;
    margin: auto;
    font-family: CircularSpotifyBold;
}
button:hover {
    background-color: #74E167;
    transform: scale(1.03);
}
input[type="radio"] {
    color: #74E167;
 }
.textInput, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 48px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    padding-inline: 14px;
    font-size: 16px;
    width: 100%;
}
input:focus {
    outline: none;
    border-width: 2px;
    border-color: #000000;
}
.red:focus {
    border-color: #ff0000;
}
.red {
    border-color: #ff0000;
}
.emailError, .passwordError, .nameError, .monthError, .dayError, .yearError {
    font-family: CircularSpotifyBook;
    font-size: 14px;
    letter-spacing: -.1px;
    padding-inline: 8px;
    color:#ff0000;
}
select:invalid, option[value=""] {
    color: gray;
}
.birthDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.birthDate > label {
    display: flex;
    flex-direction: column;
}
.monthInput {
    width: 45%;
}
.dayInput {
    width: 20%;
}
.yearInput {
    width: 25%;
}

.signUpBody {
    background-color: #ffffff;
}

.book {
    font-family: CircularSpotifyBook;
    padding-inline: 8px;
    font-size: 14px;
}